@use '../styles/base';

.wrapper {
  box-sizing: border-box;
  padding: 20px + base.$radius;

  @include base.rounded;
}

.backgroundPNG {
  background-image: url('../images/logo.png');
  background-size: auto 100%;
}

.backgroundSVG {
  background-image: url('../images/logo.svg');
  background-size: auto 100%;
}
